* {
    margin: 0;
    padding: 0;
    font-size: 62, 5%;
}

main {
    background-color: #bdb8df;
    color: navy;
    display: flex;
    height: 1100px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 901px) and (max-width: 1366px) {
    main {
        height: 840px;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    main {
        height: auto;
        display: flex;
        flex-direction: column;
    }
}


/* SECTION ABOUT-ME */

.about-me {
    padding: 50px 50px 0 50px;
    position: relative;
    width: 28%;
    background-color: navy;
}

.my-photo {
    width: 40%;
    /*box-shadow: 3px 3px 20px 1px rgba(102, 85, 255, 0.2);*/
}

h2 {
    position: absolute;
    left: 160px;
    top: 120px;
    text-align: right;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 4.2rem;
    transform: rotate(-90deg);
    color: rgb(255, 69, 0, 0.7);
    text-align: center;
    /*background: -webkit-linear-gradient(230deg, #bdb8df 12%, #1c2bffad, #d453fcf3 70%, #bdb8df 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

h1 {
    font-size: 2.2rem;
    color: #fff;
    letter-spacing: 18px;
}

.caption {
    color: #fff;
    font-size: 1.5rem;
    font-style: italic;
    text-align: end;
}

.about {
    margin: 20px 0 0 0;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
}

.contact {}

h3 {
    padding-bottom: 18px;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 8px;
}

.contact-title {
    padding-top: 30px;
    color: #958fbb;
}

ul {
    list-style-type: none;
}

.contact-item {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
}

.contact-icon {
    height: 1.7rem;
}

.contact-link {
    padding: 3px 0 0 5px;
}

a {
    text-decoration: none;
    color: rgb(147, 36, 250);
}

.social-networks {}

.social-icon {
    height: 46px;
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .about-me {}
    h2 {
        position: absolute;
        left: 160px;
        top: 130px;
        font-size: 5rem;
    }
    span {
        font-size: 3.8rem;
    }
    .caption {
        font-size: 1.2rem;
    }
    .about {
        font-size: 1rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 1366px) {
    .about-me {
        padding: 2% 2% 0 2%;
    }
    .my-photo {
        width: 40%;
    }
    h2 {
        position: absolute;
        top: 10%;
        left: 26%;
        font-size: 3.2rem;
    }
    span {
        font-size: 3.6rem;
    }
    h1 {
        font-size: 1.4rem;
    }
    h3 {
        padding: 0 0 10px 0;
        font-size: 1.2rem;
    }
    .caption {
        padding: 3% 0 3% 0;
        font-size: 1rem;
    }
    .about {
        font-size: 1rem;
    }
    .contact {
        padding-top: 6%;
    }
    .contact-title {
        display: none;
    }
    .contact-item {
        font-size: 0.9rem;
    }
    .contact-icon {
        height: 24px;
    }
    .social-icon {
        height: 34px;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .about-me {
        padding: 30px 30px 30px 30px;
        height: auto;
        width: auto;
    }
    .my-photo {
        width: 50%;
    }
    h2 {
        position: absolute;
        left: 32vw;
        top: 22vw;
        font-size: 3.4rem;
    }
    span {
        font-size: 4rem;
    }
    h1 {
        font-size: 2rem;
        letter-spacing: 8px;
    }
    .caption {
        font-size: 1.1rem;
    }
    .about {
        font-size: 1rem;
    }
    .contact-item {
        font-size: 1rem;
    }
}


/* SECTION SKILL */

.skill {
    padding: 40px 0 0 30px;
    width: 20%;
}

.skill-list {}

.skill-item {
    display: flex;
}

.skill-icon {
    height: 56px;
}

.skill-bar {
    padding: 10px 0 0 10px;
    height: 35px;
}

.hide {
    display: none;
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .skill {}
    .skill-icon {
        height: 50px;
    }
    .skill-bar {
        height: 30px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1366px) {
    .skill {
        padding: 1.7% 0 0 1.7%;
    }
    .skill-list {}
    .skill-icon {
        height: 40px;
    }
    .skill-bar {
        padding: 7px 0 0 7px;
        height: 24px;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .skill {
        padding: 100px 0 0 0;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .skill-list {}
    .skill-item {}
    .skill-icon {
        height: 46px;
    }
    .skill-bar {
        height: 28px;
    }
}


/* SECTION EXPERIENCE */

.experience {
    padding: 40px 0 0 0;
    margin: 0 0 0 30px;
    width: 30%;
}

.proj-list {
    font-size: 1.2rem;
}

.proj-item {
    padding: 0 0 10px 0;
}

.por-title {
    padding: 40px 0 0 0;
}

.por-list {
    padding: 20px 0 10px 0;
    font-size: 1.2rem;
}

.exp-title {
    padding-top: 40px;
}

.exp-list {
    font-size: 1.1rem;
}

.info {
    padding: 10px 10px 20px 20px;
    border-left: 1px solid navy;
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .experience {}
    .proj-list {
        font-size: 1rem;
    }
    .por-list {
        font-size: 1rem;
    }
    .exp-list {
        font-size: 1rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 1366px) {
    .experience {
        padding: 1.7% 0 0 0;
    }
    .proj-list {
        font-size: 0.9rem;
    }
    .por-list {
        font-size: 0.9rem;
    }
    .exp-title {
        padding-top: 30px;
    }
    .exp-list {
        font-size: 0.9rem;
    }
    .exp-item {
        padding-top: 5px;
    }
    .info {
        padding: 0 16px 0 16px;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .experience {
        padding: 100px 30px 0 30px;
        margin: 0 0 0 10px;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .proj-list {}
    .por-title {
        padding: 50px 0 0 0;
    }
    .por-list {
        font-size: 1.2rem;
        padding: 20px 0 0 0;
        width: 184px;
    }
    .exp-title {
        padding: 100px 0 30px 0;
    }
    .exp-item {}
}


/* SECTION EDUCATION */

.education {
    padding: 40px 0 0 0;
    width: 22%;
}

.edu-list {
    font-size: 1.1rem;
}

.edu-item {}

.lang-title {
    padding-top: 40px;
}

.lang-item {
    display: flex;
}

.lang-icon {
    height: 50px;
}

.lang-bar {
    padding: 7px 0 0 20px;
    height: 35px;
}

.hob-title {
    padding-top: 40px;
}

.hob-list {
    padding: 0 80px 0 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hob-icon {
    height: 4rem;
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .education {
        font-size: 1rem;
    }
    .lang-title {
        padding-top: 40px;
    }
    .lang-icon {
        height: 46px;
    }
    .lang-bar {
        height: 30px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1366px) {
    .education {
        padding: 1.7% 1.7% 0 0;
    }
    .edu-item {
        padding-top: 5px;
        font-size: 0.9rem;
    }
    .lang-title {
        padding-top: 40px;
    }
    .lang-icon {
        height: 40px;
    }
    .lang-bar {
        padding: 7px 0 0 7px;
        height: 24px;
    }
    .hob-title {
        padding-top: 40px;
    }
    .hob-icon {
        height: 40px;
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .education {
        padding: 100px 30px 100px 30px;
        height: auto;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .edu-list {}
    .lang-title {}
    .lang-item {}
    .lang-icon {
        height: 46px;
    }
    .lang-bar {
        height: 28px;
    }
    .hob-title {}
    .hob-list {
        padding: 0 20px 0 10px;
    }
    .hob-icon {
        height: 3.4rem;
    }
}